.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-container {
  display: flex;
  flex-direction: row;
}

/* Navigation Styling Starts */

.topnav {
  width: 100%;
  border-bottom: 1px solid #707070;
}

#logo {
  font-size: 28px;
  font-weight: 300;
  padding: 10px 20px;
}

.sidenav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #03176a;
  height: 100%;
  width: 150px;
  position: fixed;
}

.sidenav-links a {
  color: white;
  font-size: 18px;
  padding: 15px;
  margin-top: 15px;
  text-decoration: none;
}

/* Navigation Styling Ends */

/* Search Container Styling Starts */

.search-container {
  max-width: 650px;
  margin-left: 200px;
}

.search-bar {
  padding: 15px;
  margin: 25px 0;
  border: #707070 1px solid;
}

.search-bar form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar input {
  border: #707070 1px solid;
  padding: 5px;
  border-radius: 25px;
  width: 33%;
}

.search-bar button {
  border: #03176a 1px solid;
  border-radius: 25px;
  padding: 5px;
  background-color: #03176a;
  color: white;
  width: 15%;
}

.search-bar button:hover {
  border: #03176a 1px solid;
  border-radius: 25px;
  padding: 5px;
  background-color: white;
  opacity: 0.6;
  color: #03176a;
  width: 15%;
}

.search-result-card {
  padding: 15px;
  margin: 25px 0;
  border: #707070 1px solid;
}

.search-result-card div {
  padding: 10px;
}

/* Search Container Styling Ends */
